.Wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator {
  width: 430px;
}

.heading-theme {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.theme {
  height: 40px;
  margin-top: 24px;
  margin-left: 250px;
}

@media (max-width: 460px) {
  .Wrapper {
    width: 325px;
  }
  .calculator {
    width: 325px;
  }
  .heading-theme {
    gap: 0px;
  }
  .theme {
    height: 40px;
    margin-top: 24px;
    margin-left: -80px;
  }
}
